/* Fonts */
@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto.woff2") format(woff2),
  url("../fonts/roboto.woff") format(woff);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/robotomedium.woff2") format(woff2),
  url("../fonts/robotomedium.woff") format(woff);
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/robotobold.woff2") format(woff2),
  url("../fonts/robotobold.woff") format(woff);
  font-weight: 700;
  font-style: normal;
}

/* Variables */

:root{

  /* Gray */
--basic-gray: #EEEEEE;
--basic-darkgray: #4D4D4D;
--basic-lightgray: rgba(77,77,77,0.12);
--basic-btn-gray: rgba(77,77,77,0.4);
--basic-icons-gray: #E1E1E1;
--basic-hover-gray: #DFDFDF;
--basic-active-gray: #D5D5D5;
--basic-br-gray: #DBDBDB;
--basic-link-gray: rgba(166,166,166,0.2);
--basic-linkhover-gray: rgba(166,166,166, 1);
--basic-linkactive-gray: #231F20;

/* Red */
--basic-red: #FB565A;
--basic-hover-red: #E74246;
--basic-active-red: #D7373B;
--basic-link-red: rgba(251,86,90,0.3);
--basic-linkactive-red: rgba(251,86,90,0.1);

/* Green */
--basic-green: #00CA74;
--basic-hover-green: #00BC6C;
--basic-active-green: #00AA62;

/* Yellow */
--basic-yellow: #EFC849;
--basic-hover-yellow: #EAB534;
--basic-active-yellow: #E5A722;

/* Classic */
--basic-white: #ffffff;
--basic-black: #000000;
--basic-text-gray:#283136;

}

/* Global */

body {
  min-width: 1160px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

a {
  text-decoration: none;
  color: var(--basic-black);
}

.page {
  height: 100%;
}

.page-body {
  background-color: var(--basic-white);
  min-width: 1160px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--basic-black);

  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}
.page-body h1{
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 10px;

}
.visually-hidden {
  visibility: hidden;
  display: none;
}

.main {
  margin-top: 0;
  background-color: var(--basic-white);
}

.main h2 {
  margin-top: 0;
  margin-bottom: 25px;
}

.main p {
  margin-top: 0;
  margin-bottom: 25px;
}


/* Sections slider */
.slide-first-advantage{
  margin-top: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 80px;
  background-color: var(--basic-gray);
  padding-bottom: 95px;
}
.slide-first-advantage h2 {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
}

.slide-first-advantage p {
  margin-bottom: 38px;
}
.main p{
 color: var(--basic-text-gray);
 margin-bottom: 38px;
}

/* Navigation menu */
.main-header{
  font-weight: 500;
  display: grid;
  background-color:var(--basic-gray);
  padding-bottom: 80px;
}
.main-header a {
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
}
.main-navigation{
  grid-template-columns: min-content 1fr min-content;
  display: grid;
  font-size: 16px;
  line-height: 20px;
  color: var(--basic-white);
  background-color: transparent;

}

.main-navigation ul{
  padding: 0;
 }

/* .main-navigation-wrapper {
  display: grid;
  grid-template-columns: 1fr min-content;
  margin: 0 auto;
  padding: 20px 0px;
} */

.main-navigation-wrapper {
  margin: 0 auto;
  display: flex;
  align-items: center;
  min-height: 30px;
  padding-top: 75px;
}


.main-header-logo{
  color: var(--basic-black);
  padding-top: 45px;

}
.main-header-logo img:active {
  opacity: 0.3;
}

.site-navigation {
    padding: 0;
    margin: 0;
}

.navigation-items {
  display: inline;
  margin-right: 31px;
}

.site-navigation a{
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;

}
.navigation-items {
  list-style-type: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: var(--basic-black);
}

.shopping_cart {
  text-transform: uppercase;
}

.cart {
  display: flex;
  align-items: center;
  padding-top: 75px;
  min-height: 30px;
  position: relative;
}

.cart img{
  position: absolute;
  right: 100px;
}

.hover-link:hover {
  color: var(--basic-red);
}

.hover-link:active {
  color: var(--basic-black);
  opacity: 0.3;
  padding-bottom: 13px;
  border-bottom: 2px solid var(--basic-red);
}


/* Buttons */
.button{
  font-weight: 500;
  font-size: 16px;
  line-height: 45px;
  text-transform: uppercase;
  cursor: pointer;
  text-align: center;
  background-color: var(--basic-red);
  color: var(--basic-white);
}
.button:active {
  color: rgba(255,255,255,0.3);
}

/* Кнопка узнать больше */
.btn-more {
  background-color: var(--basic-red);
  width: 240px;
  height: 50px;
  display: block;
  border-radius: 3px;
}
.btn-more:hover {
  background-color: var(--basic-hover-red);
}
.btn-more:active {
  background-color: var(--basic-active-red);
}

/* Кнопка Заказать Веб-Сайты */
.btn-red-order {
  background-color: var(--basic-red);
  width: 160px;
  height: 50px;
  display: block;
  border-radius: 3px;
}
.btn-red-order:hover {
  background-color: var(--basic-hover-red);
}
.btn-red-order:active {
  background-color: var(--basic-active-red);
}

/* Кнопка Заказать Приложения */
.btn-green-order {
  background-color: var(--basic-green);
  width: 160px;
  height: 50px;
  display: block;
  border-radius: 3px;
}
.btn-green-order:hover {
  background-color: var(--basic-hover-green);
}
.btn-green-order:active {
  background-color: var(--basic-active-green);
}

/* Кнопка Заказать Презентации */

.btn-yellow-order{
  background-color: var(--basic-yellow);
  width: 160px;
  height: 50px;
  display: block;
  border-radius: 3px;
}

.btn-yellow-order:hover {
  background-color: var(--basic-hover-yellow);
}
.btn-yellow-order:active {
  background-color: var(--basic-active-yellow);
}

/* Кнопки иконки социальных сетей */
.btn-social {
  background-color: var(--basic-icons-gray);
  border-radius: 50%;
  padding: 30px 30px;
  margin: 76px 9px;
}
.btn-social:hover {
  background: linear-gradient(0deg, #E74246, #E74246), #FFFFFF;
}
.btn-social:active {
  background: linear-gradient(0deg, #D7373B, #D7373B), #FFFFFF;

}
.icon-active:active{
 opacity: 0.3;
}

/* Кнопка модальное окно Напишите Нам */
.btn-write {
  background-color: var(--basic-red);
  width: 219px;
  height: 50px;
  display: block;
  border-radius: 3px;
  margin: 0px auto;
}
.btn-write:hover {
  background-color: var(--basic-hover-red);
}
.btn-write:active {
  background-color: var(--basic-active-red);
}

/* Section services */
.services {
  padding: 0px;
}
.services-list {
  list-style-type: none;
  padding: 0;
  display: grid;
  grid-template-columns: min-content min-content min-content;
  gap: 100px;
  margin-bottom: 80px;
}
.services-item {

}
.services-item h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  margin: 32px 0;
  margin-top: 25px;
  margin-bottom: 16px;
}
.services-item p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 32px;
}

/* Section features */

.wrapper-height {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

}

.features {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.features h2 {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
}
.features h3 {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
}
.features p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.features-list {
  list-style-type: none;
  padding: 0;
}
.features-item{
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  padding-bottom: 39px;
}

.adress-map {
  position: relative;
  z-index: 9;
  display: flex;
  right: 140px;

}

.adress-map-wrapper {
  display: flex;

}

.map-krasnodar {
  width: 1160px;
}

.map-krasnodar-wrapper{
  width: ;

}

.map-krasnodar-wrapper img {
  width: 1440px;

}


/* Section advantage */
.advantages {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.advantages h3 {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  margin-bottom: 31px;
}
.advantages-list {
  list-style-type: none;
  font-weight: 700;
  font-size: 45px;
  line-height: 64px;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.advantages-item p {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.wrapper-features-advantages {
  display: grid;
  grid-template-columns: 60% 40%;
}

/* Section partnership */
.partnership {

}
.partnership-list {
  list-style-type: none;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 0 auto;
}
.partnership-item {
  margin: 46px auto;
  opacity: 0.2;
}

.partnership-item:hover {
  opacity: 1;
}

.partnership-item:active {
  opacity: 0.1;
}

/* Footer */
.footer-social {
  margin: 76px auto;
}

.footer-social h2+a {
  margin: 0;
  margin-right: 9px;
}

.footer-social h2 {

}
.main-footer {
  display: grid;
  grid-template-columns: 3fr 7fr;

}
.main-footer p {
}

.text-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center
}

.text-prefer-footer {
  font-size: 36px;
  line-height: 36px;
  margin-bottom: 0;
}

/* Pop-up */
.popup-contacts {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.contacts-phone {
  margin-bottom: 37px;
}

.maket-popup {
  background-color: var(--basic-gray);
  width: 360px;
  height: 231px;
  text-align: center;
  padding-top: 10px;
  margin-top: 26px;

}

.maket-popup h2{
  text-transform: uppercase;

}


.maket-popup p{
  margin-bottom: 36px;

}

.popup-contacts-wrapper {
  text-align: center;
  padding: 45px 0;

}

.adress {
  width: 319px;
  height: 308px;
  background-color: var(--basic-white);
  position: absolute;
  top: 50px;
  left: 140px;
  z-index: 10;
  opacity: 0;

}

.adress-map:hover .adress {
  display: block;
  opacity:1;
  transition: 1s;

}

.btn-maket{
 padding: 16px 73.5px;

}

/* Filters */

.form-filter .filter-min{
  font-weight: 400;
  font-size: 16px;
line-height: 22px;
  text-transform: uppercase;
}


.form-filter .filter-max{
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
}

.filter-cost h2{
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.filter-maket-list{

}
.filter-maket-item{
  list-style-type: none;
}
.border-none {
  border: none;
}
.filter-sort h2{
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.filter-sort{

}

.filter-sort-list{

}

.filter-sort-item{
  list-style-type: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.product-maket{

}

.product-maket-list{

}

.product-maket-item{
  list-style-type: none;
}

.pagination {
  list-style-type: none;

}

.btn-pagination {
  display: inline-block;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  background-color: var(--basic-gray);
  border-radius: 3px;
  margin: 10px 10px;
  box-sizing: border-box;
  background: var(--basic-br-gray);
  border: 3px solid var(--basic-br-gray);
}

.btn-pagination:hover {
  background: var(--basic-white);
  border: 3px solid var(--basic-br-gray);
  box-sizing: border-box;
  cursor: pointer;
}

.btn-pagination:active {
  background: var(--basic-active-gray);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.btn-pagination-next {
  width: 260px;
  height: 50px;
  display: inline-block;
  text-align: center;
  line-height: 50px;
  background-color: var(--basic-gray);
  border-radius: 3px;
  margin: 10px 10px;
  box-sizing: border-box;
  background: var(--basic-br-gray);
}

.pagination-item {

}

.pagination-item a{
  padding: 0;
}


.btn-show {
  background-color: var(--basic-gray);
  width: 260px;
  height: 50px;
  line-height: 50px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  border: none;
}

.btn-show:hover {
  cursor: pointer;
  background-color: var(--basic-hover-gray);
}

.btn-show:active {
  background-color: var(--basic-active-gray);
  opacity: 0.3;

}

.padding-none {
  padding: 0;
}
