/* Fonts */
@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto.woff2") format(woff2),
  url("../fonts/roboto.woff") format(woff);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/robotomedium.woff2") format(woff2),
  url("../fonts/robotomedium.woff") format(woff);
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/robotobold.woff2") format(woff2),
  url("../fonts/robotobold.woff") format(woff);
  font-weight: 700;
  font-style: normal;
}

/* Variables */

:root{

  /* Gray */
--basic-gray: #EEEEEE;
--basic-darkgray: #4D4D4D;
--textarea: #a2a2a2;
--basic-lightgray: rgba(77,77,77,0.12);
--basic-btn-gray: rgba(77,77,77,0.4);
--basic-icons-gray: #E1E1E1;
--basic-hover-gray: #DFDFDF;
--basic-active-gray: #D5D5D5;
--basic-br-gray: #DBDBDB;
--basic-link-gray: rgba(166,166,166,0.2);
--basic-linkhover-gray: rgba(166,166,166, 1);
--basic-linkactive-gray: #231F20;

/* Red */
--basic-red: #FB565A;
--basic-hover-red: #E74246;
--basic-active-red: #D7373B;
--basic-link-red: rgba(251,86,90,0.3);
--basic-linkactive-red: rgba(251,86,90,0.1);

/* Green */
--basic-green: #00CA74;
--basic-hover-green: #00BC6C;
--basic-active-green: #00AA62;

/* Yellow */
--basic-yellow: #EFC849;
--basic-hover-yellow: #EAB534;
--basic-active-yellow: #E5A722;

/* Classic */
--basic-white: #ffffff;
--basic-black: #000000;
--basic-text-gray:#283136;

}

/* Global */

a {
  text-decoration: none;
  color: var(--basic-black);
}

.page {
  height: 100%;
}

.page-body {
  background-color: var(--basic-white);
  min-width: 1160px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--basic-black);

  min-height: 100%;
  /* display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start; */
}
.page-body h1{
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 10px;

}
.visually-hidden {
  visibility: hidden;
  display: none;
}

.main {
  margin-top: 0;
  background-color: var(--basic-white);
}

.heading {
  /* display: grid; */
  display: flex;
  justify-content: center;

}

/* Sections slider */
.slide-first-advantage{
  margin-top: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 80px;
  background-color: var(--basic-gray);
  padding-bottom: 75px;
}
.slide-first-advantage h2 {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
}

.slide-first-advantage p {
  margin-bottom: 38px;
}

.slide-wrapper {
  display: flex;
  flex-direction: column;
}

/* Navigation menu */
.main-header{
  /* display: grid; */
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  min-width: 1160px;
  font-weight: 500;
  background-color:var(--basic-gray);
  padding-bottom: 80px;

}
.main-header a {
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
}
.main-navigation{
  /* grid-template-columns: min-content 1fr min-content;
  display: grid; */
  flex-wrap: wrap;
  display: flex;
  width: 100%;
  font-size: 16px;
  line-height: 20px;
  color: var(--basic-white);
  background-color: transparent;

}

.main-navigation ul{
  padding: 0;
 }


.main-navigation-wrapper {
  margin: 0 auto;
  display: flex;
  align-items: center;
  min-height: 30px;
  padding-top: 75px;
}


.main-header-logo{
  color: var(--basic-black);
  padding-top: 45px;

}
.main-header-logo img:active {
  opacity: 0.3;
}

.site-navigation {
    padding: 0;
    margin: 0;
}

.site-navigation a{
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;

}
.navigation-items {
  list-style-type: none;
  color: var(--basic-black);
  display: inline;
  margin-right: 31px;
}

.navigation-items a{
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
}


.shopping_cart {
  text-transform: uppercase;
}

.shopping_cart a{
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;

}

.shopping_cart::before {
  content: "";
  width: 32px;
  height: 32px;
  position: absolute;
  background-image: url("../img/icons/cart.svg");
  background-repeat: no-repeat;
  top: 90px;
  left: -35px;

}

.cart {
  display: flex;
  align-items: center;
  padding-top: 75px;
  min-height: 30px;
  position: relative;
  margin-left: 35px;
}

.hover-link:hover {
  color: var(--basic-red);
}

.hover-link:active {
  color: var(--basic-black);
  opacity: 0.3;

}

/* Buttons */

/* Кнопка модального окна, напишите нам, карта */

.submit {
  width: 259px;
  height: 50px;
  border-radius: 3px;
}
.submit:hover {
  background-color: var(--basic-hover-red);
  }
.submit:active {
  background-color: var(--basic-active-red);
}

/* Общий класс для кнопок */
.button{
  font-weight: 500;
  font-size: 16px;
  line-height: 45px;
  border-radius: 3px;
  text-transform: uppercase;
  cursor: pointer;
  text-align: center;
  background-color: var(--basic-red);
  color: var(--basic-white);
}
.button:active {
  color: rgba(255,255,255,0.3);
}

.btn {
  cursor: pointer;
}

/* Кнопка узнать больше */
.btn-more {
  background-color: var(--basic-red);
  width: 240px;
  height: 50px;
  display: block;
  border-radius: 3px;
  margin-bottom: 20px;
}
.btn-more:hover {
  background-color: var(--basic-hover-red);
}
.btn-more:active {
  background-color: var(--basic-active-red);
}

/* Кнопка Заказать Веб-Сайты */
.btn-red-order {
  background-color: var(--basic-red);
  width: 160px;
  height: 50px;
  display: block;
  border-radius: 3px;
}
.btn-red-order:hover {
  background-color: var(--basic-hover-red);
}
.btn-red-order:active {
  background-color: var(--basic-active-red);
}

/* Кнопка Заказать Приложения */
.btn-green-order {
  background-color: var(--basic-green);
  width: 160px;
  height: 50px;
  display: block;
  border-radius: 3px;
}
.btn-green-order:hover {
  background-color: var(--basic-hover-green);
}
.btn-green-order:active {
  background-color: var(--basic-active-green);
}

/* Кнопка Заказать Презентации */

.btn-yellow-order{
  background-color: var(--basic-yellow);
  width: 160px;
  height: 50px;
  display: block;
  border-radius: 3px;
}

.btn-yellow-order:hover {
  background-color: var(--basic-hover-yellow);
}
.btn-yellow-order:active {
  background-color: var(--basic-active-yellow);
}

/* Кнопки иконки социальных сетей */
.btn-social {
  background-color: var(--basic-icons-gray);
  border-radius: 50%;
  width: 81px;
  height: 81px;
  margin: 0px 9px;
  position: relative;
}
.btn-social:hover {
  background: linear-gradient(0deg, #E74246, #E74246), #FFFFFF;
}
.btn-social:active {
  background: linear-gradient(0deg, #D7373B, #D7373B), #FFFFFF;
}

.btn-social img{
  position: absolute;
  left: 30px;
  top: 25px;
}

.btn-social:last-child{
  margin-right: 0px;
}

.icon-active:active{
 opacity: 0.3;
}

/* Кнопка модальное окно Напишите Нам */
.btn-write {
  background-color: var(--basic-red);
  width: 219px;
  height: 50px;
  display: block;
  border-radius: 3px;
  margin: 0px auto;
}
.btn-write:hover {
  background-color: var(--basic-hover-red);
}
.btn-write:active {
  background-color: var(--basic-active-red);
}

/* Кнопка на макете цена */
.btn-maket{
  padding: 16px 73.5px;
  border-radius: 3px;
 }

.btn-maket:hover {
  background-color: var(--basic-hover-red);
}
.btn-maket:active {
  background-color: var(--basic-active-red);
}

/* Кнопки пагинации */
 .btn-pagination {
  display: inline-block;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  background-color: var(--basic-gray);
  border-radius: 3px;
  margin: 10px 10px;
  box-sizing: border-box;
  background: var(--basic-br-gray);
  border: 3px solid var(--basic-br-gray);
}

.btn-pagination:hover {
  background: var(--basic-white);
  border: 3px solid var(--basic-br-gray);
  box-sizing: border-box;
  cursor: pointer;
}

.btn-pagination:active {
  background: var(--basic-active-gray);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.btn-pagination-next {
  width: 260px;
  height: 50px;
  display: inline-block;
  text-align: center;
  line-height: 50px;
  background-color: var(--basic-gray);
  border-radius: 3px;
  margin: 10px 10px;
  box-sizing: border-box;
  background: var(--basic-br-gray);
}

/* Кнопка показать каталог */
.btn-show {
  background-color: var(--basic-gray);
  width: 260px;
  height: 50px;
  line-height: 50px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  border: none;
}

.btn-show:hover {
  cursor: pointer;
  background-color: var(--basic-hover-gray);
}

.btn-show:active {
  background-color: var(--basic-active-gray);
  opacity: 0.3;

}

/* Section services */
.services {
  padding: 0px;
}
.services-list {
  /* display: grid;
  grid-template-columns: min-content min-content min-content; */
  list-style-type: none;
  padding: 0;
  gap: 100px;
  margin-bottom: 80px;
  display: flex;
  justify-content: space-between;
}
.services-item {

}
.services-item h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  margin: 32px 0;
  margin-top: 25px;
  margin-bottom: 16px;
}
.services-item p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 32px;
}

/* Section features */

.features {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}
.features h2 {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  margin: 0;
}
.features h3 {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  margin:0;
}
.features p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
}
.features-list {
  list-style-type: none;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 25%;
  padding-left: 50px;
}
.features-item{
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  position: relative;
}

.features-item::before{
  content: "";
  position: absolute;
  width: 40px;
  height: 2px;
  top: 11px;
  left: -48px;
  background-color: var(--basic-red);
  margin-right: 15px;
  transform: rotate(180deg);
}

/* Section advantage */
.advantages {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.advantages h3 {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
}
.advantages-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
  width: 100%;
  font-weight: 700;
  font-size: 45px;
  line-height: 64px;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr; */
}
.advantages-item p {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  color: var(--basic-text-gray);
}

.wrapper-features-advantages {
  /* display: grid;
  grid-template-columns: 60% 40%; */
  display: flex;
  min-height: 430px;
  justify-content: space-between;
}

}

/* Section partnership */
.partnership {
}
.partnership-list {
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr; */
  display: flex;
  flex-wrap: wrap;
  align-self: stretch;
  list-style-type: none;
  padding: 0;
  margin: 82px auto;
}

.partnership-list::before{
  content:"";
  min-width: 100%;
  height: 2px;
  background-color: var(--basic-gray);
  /* border-top: 2px solid var(--basic-gray); */
}

.partnership-list::after{
  content:"";
  min-width: 100%;
  height: 2px;
  background-color: var(--basic-gray);
}

.partnership-item {
  margin: 46px auto;
  position: relative;
}
.partnership-item img{
  opacity: 0.2;

}
/*
.partnership-item img::after{
  content: "";
  position: absolute;
  width: 2px;
  height: 52px;
  background-color:var(--basic-gray);
  opacity: 1;
  right: 45px;
} */



.partnership-item:not(:last-child)::after{
  content: "";
  position: absolute;
  width: 2px;
  height: 52px;
  background-color:var(--basic-gray);
  opacity: 1;
  right: -40px;
}

.partnership-item:hover img{
  opacity: 1;
}

.partnership-item img:active {
  opacity: 0.1;
}




/* Footer */

.main-footer {
}

.main-footer p {
}

.footer-social {
  display: flex;
}

.footer-social h2+a {
  margin: 0;
  margin-right: 9px;
}

.footer-social h2 {

}

.map-wrapper{
  position: relative;
}

.map-wrapper{
  display: flex;
  justify-content: center;
}

.map-wrapper img {
  width: 1440px;
}

.text-footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 65%;
}

.text-prefer-footer {
  font-size: 36px;
  line-height: 36px;
  margin-bottom: 0;
  font-weight: 700;
}

/* Pop-up */
.popup-contacts-wrapper {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  top: 10px;
  left: -210px;
}
.wrapper-contacts{
  text-align: left;
}

.contacts-phone {
  margin-bottom: 37px;
}
.popup-contacts h2 {
  margin-top: 0;
}

.popup-email {
  position: relative;
  display: flex;
  justify-content: center;
 }

 .hidden-popup-email {
   display: none;
 }

 .popup-email-wrapper {
   position: absolute;
   width: 960px;
   height: 590px;
   background-color: var(--basic-white);
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
 }

 .textarea {
  color: var(--textarea);
  padding-left: 16px;
  padding-top: 16px;
  min-width: 740px;
}

.user-icon-name {
  padding: 16px;
}

.email-icon-user {
  padding: 16px;
}

.wrapper-email {
  display: flex;
  justify-content: space-between;
}

.wrapper-email input[type=text], input[type=email]{
   min-width: 324px;
}

.map {
  position: relative;
}

.popup-contacts {
  position: absolute;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 319px;
  height: 308px;
  top: 50px;
  left: 220px;
  z-index: 10;
  background-color: var(--basic-white);
}

.heading-email {
  width: 960px;
  padding-left: 100px;
}
.heading-email h2 {
  font-weight: bold;
  font-size: 45px;
  line-height: 53px;
}

.email-form {
  padding-left: 100px;
  padding-right: 100px;
}

 /* Makets */
.maket-popup {
  background-color: var(--basic-gray);
  width: 360px;
  height: 231px;
  text-align: center;
  padding-top: 10px;
  position: absolute;
  top: 337px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  opacity: 0;
}

.maket-popup:hover h2{
  color: var(--basic-red);
  transition: 1s;
}

.maket-popup:active h2{
  color: var(--basic-black);
  opacity: 0.3;
  transition: 0s;
}

.maket-popup h2{
  text-transform: uppercase;
}

.maket-popup h2:hover{
  color: var(--basic-red);
}

.maket-popup h2:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.maket-popup p{
  margin-bottom: 36px;
}

.footer-wrapper {
  /* display: grid;
  grid-template-columns: min-content 1fr;
  column-gap: 140px; */
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  min-height: 216px;
}

.product-maket{
}

.product-maket-list{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 72px 0px;
  padding: 0;
  margin-top: 60px;
}


.product-maket-item{
  list-style-type: none;
  position: relative;
  margin-right: 42px;
}

.product-maket-item:nth-child(even){
  margin-right: 0px;
}



/* .product-maket-item:first-child{
  margin-top: 0px;
} */



.maket-browser::before {
  content: "";
  position: absolute;
  top: -40px;
  left: -1px;

  width: 360px;
  height: 40px;
  background-image: url("../img/content/browserdark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.product-maket-item:hover .maket-browser::before{
  opacity: 1;
  transition: 1s;
}

.product-maket-item:hover .maket-popup{
  opacity: 1;
  transition: 1s;
}

.wrapper-grid-makets{
  display: grid;
  grid-template-columns: min-content 1fr;
}


/* Filters */

.wrapper-maket-filter {
  min-width: 1160px;
  display: grid;
  grid-template-columns: min-content 1fr;
}
.form-filter {
  margin-top: 55px;
  width: 281px;
}

.filter-sort-active{
opacity: 1;
}

.filter-sort-passive {
  opacity: 0.3 ;
}


.form-filter .filter-min{
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
}

.form-filter .filter-max{
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
}

.filter-cost {
  grid-row: 1/3;
  margin-top: 60px;
  min-width: 400px;
}

.filter-cost h2{
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.filter-maket-list{

}
.filter-maket-item{
  list-style-type: none;
}
.border-none {
  border: none;
}
.filter-sort h2{
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.filter-sort{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 60px;
}

.filter-sort-list{
  display: flex;
  justify-content: flex-end;
  padding: 0;

}

.filter-sort-item{
  list-style-type: none;
  line-height: 18px;
  margin-right: 25px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}
.filter-sort-item:nth-child(3){
  margin-right: 45px;
}

.filter-sort-item:nth-child(4){
  margin-right: 13px;
}

.filter-sort-item:last-child{
  margin-right: 0px;
}

/* Пагинация */

.pagination {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin-bottom: 30px;
}

.btn-pagination:first-child {
  padding-left: 0;
  margin-left: 0;
}

.active-pagination {
  background-color: var(--basic-white);
}

.link-nav-active {
  border-bottom: 2px solid var(--basic-red);
  padding-bottom: 13px;
}

.pagination-item {

}
.pagination-item a{
  padding: 0;
}

.padding-none {
  padding: 0;
}
