/* Fonts */
@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto.woff2") format(woff2),
  url("../fonts/roboto.woff") format(woff);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/robotomedium.woff2") format(woff2),
  url("../fonts/robotomedium.woff") format(woff);
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/robotobold.woff2") format(woff2),
  url("../fonts/robotobold.woff") format(woff);
  font-weight: 700;
  font-style: normal;
}

/* Variables */

:root{

  /* Gray */
--basic-gray: #EEEEEE;
--basic-darkgray: #4D4D4D;
--textarea: #a2a2a2;
--basic-lightgray: rgba(77,77,77,0.12);
--basic-btn-gray: rgba(77,77,77,0.4);
--basic-icons-gray: #E1E1E1;
--basic-hover-gray: #DFDFDF;
--basic-active-gray: #D5D5D5;
--basic-br-gray: #DBDBDB;
--basic-link-gray: rgba(166,166,166,0.2);
--basic-linkhover-gray: rgba(166,166,166, 1);
--basic-linkactive-gray: #231F20;

/* Red */
--basic-red: #FB565A;
--basic-hover-red: #E74246;
--basic-active-red: #D7373B;
--basic-link-red: rgba(251,86,90,0.3);
--basic-linkactive-red: rgba(251,86,90,0.1);

/* Green */
--basic-green: #00CA74;
--basic-hover-green: #00BC6C;
--basic-active-green: #00AA62;

/* Yellow */
--basic-yellow: #EFC849;
--basic-hover-yellow: #EAB534;
--basic-active-yellow: #E5A722;

/* Classic */
--basic-white: #ffffff;
--basic-black: #000000;
--basic-text-gray:#283136;

}

/* Global */

a {
  text-decoration: none;
  color: var(--basic-black);
}

.page {
  height: 100%;
}

.page-body {
  background-color: var(--basic-white);
  min-width: 1160px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--basic-black);

  min-height: 100%;

  /* display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start; */
}
.page-body h1{
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 10px;

}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main {
  margin-top: 0;
  background-color: var(--basic-white);
}

.heading {
  /* display: grid; */
  display: flex;
  justify-content: center;
  margin-top: 32px;
  margin-bottom: 52px;

}

/* Sections slider */
.slider ul {
  padding: 0;
}

.slider {
  position: relative;
  color: black;
}

.slide-wrapper {
  display: flex;
  flex-direction: column;

}

.site-wrapper {
  min-width: 940px;
  background-repeat: no-repeat;
  background-position: top right;
  background-color: var(--basic-gray);
  background-repeat: no-repeat;
}

.site-wrapper-1 {
  background-color: var(--basic-gray);
  background-image: url("../img/content/slide1.png");
  background-position: 99% -11px;
  padding: 13px 0px 83px;
  background-repeat: no-repeat;
}

.site-wrapper-2 {
  background-color: var(--basic-gray);
  background-image: url("../img/content/slide2.png");
  background-position: top right;
  padding: 50px 10px;
  background-repeat: no-repeat;
}

.site-wrapper-3 {
  background-color: var(--basic-gray);
  background-image: url("../img/content/slide3.png");
  background-position: top right;
  padding: 50px 10px;
  background-repeat: no-repeat;
}

.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider ul {
  margin: 0;
  padding: 0;
}


.slide {
  display: none;
}

.slide-current {
  display: block;
}

.slide-title {
  width: 700px;
  margin-bottom: 0px;
  margin-top: 57px;
  font-size: 52px;
  line-height: 55px;
  font-weight: 700;
}

.slider-item p{
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-top: 28px;
}

.slider-controls {
  display: flex;
  position: absolute;
  justify-content: space-between;
  bottom: 17px;
  left: 46%;
  z-index: 20;
  width: 90px;
}

.slider-controls button {
  position: relative;
  padding: 0;
  width: 17px;
  height: 17px;
  background-color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls button::after {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  padding: 0;
  width: 5px;
  height: 5px;
  background-color: white;
  border: 2px solid gray;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0;
  display: block;
}

.slider-controls button:hover::after{
  transition: 1s;
  opacity: 1;
}

.slider-controls .current::after{
  opacity: 1;
}

/* Navigation menu */
.main-header{
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  min-width: 1160px;
  font-weight: 500;
  background-color:var(--basic-gray);
  padding: 0px 10px 0px;

}
.main-header a {
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
}
.main-navigation{
  /* grid-template-columns: min-content 1fr min-content;
  display: grid; */
  flex-wrap: wrap;
  display: flex;
  width: 100%;
  font-size: 16px;
  line-height: 20px;
  color: var(--basic-white);
  background-color: transparent;

}

.main-navigation ul{
  padding: 0;
  display: flex;
  justify-content: space-between;
  width: 488px;
 }


.main-navigation-wrapper {
  margin: 0 auto;
  display: flex;
  align-items: center;
  min-height: 30px;
  padding-top: 60px;
}


.main-header-logo{
  color: var(--basic-black);
  padding-top: 48px;

}

.main-header-logo img:hover{
  opacity: 0.7;
}

.main-header-logo img:active {
  opacity: 0.3;
}

.site-navigation {
    padding: 0;
    margin: 0;
}

.site-navigation a{
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;

}
.navigation-items {
  list-style-type: none;
  color: var(--basic-black);
  display: inline;
  margin-right: 45px;
}

.navigation-items:last-child {
  margin-right: 54px;
}

.navigation-items a{
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
}


.shopping_cart {
  text-transform: uppercase;
}

.shopping_cart a{
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;

}

.shopping_cart::before {
  content: "";
  width: 32px;
  height: 32px;
  position: absolute;
  background-image: url("../img/icons/cart.svg");
  background-repeat: no-repeat;
  top: 82px;
  left: -38px;

}

.cart {
  display: flex;
  align-items: center;
  padding-top: 57px;
  min-height: 30px;
  position: relative;
  margin-left: 35px;
}

.hover-link:hover {
  color: var(--basic-red);
}

.hover-link:active {
  color: var(--basic-black);
  opacity: 0.3;

}

/* Buttons */

/* Кнопка модального окна, напишите нам, карта */

.submit {
  width: 259px;
  height: 50px;
  border-radius: 3px;
}
.submit:hover {
  background-color: var(--basic-hover-red);
  }
.submit:active {
  background-color: var(--basic-active-red);
}

/* Общий класс для кнопок */
.button{
  font-weight: 500;
  font-size: 16px;
  line-height: 45px;
  border-radius: 3px;
  text-transform: uppercase;
  cursor: pointer;
  text-align: center;
  background-color: var(--basic-red);
  color: var(--basic-white);
}
.button:active {
  color: rgba(255,255,255,0.3);
}

.btn {
  cursor: pointer;
}

/* Кнопка узнать больше */
.btn-more {
  background-color: var(--basic-red);
  width: 240px;
  height: 50px;
  display: block;
  border-radius: 3px;
  margin-top: 37px;
}
.btn-more:hover {
  background-color: var(--basic-hover-red);
}
.btn-more:active {
  background-color: var(--basic-active-red);
}

/* Кнопка Заказать Веб-Сайты */
.btn-red-order {
  background-color: var(--basic-red);
  width: 160px;
  height: 50px;
  margin-top: 33px;
  display: block;
  border-radius: 3px;
}
.btn-red-order:hover {
  background-color: var(--basic-hover-red);
}
.btn-red-order:active {
  background-color: var(--basic-active-red);
}

/* Кнопка Заказать Приложения */
.btn-green-order {
  background-color: var(--basic-green);
  width: 160px;
  height: 50px;
  margin-top: 33px;
  display: block;
  border-radius: 3px;
}
.btn-green-order:hover {
  background-color: var(--basic-hover-green);
}
.btn-green-order:active {
  background-color: var(--basic-active-green);
}

/* Кнопка Заказать Презентации */

.btn-yellow-order{
  background-color: var(--basic-yellow);
  width: 160px;
  height: 50px;
  margin-top: 33px;
  display: block;
  border-radius: 3px;
}

.btn-yellow-order:hover {
  background-color: var(--basic-hover-yellow);
}
.btn-yellow-order:active {
  background-color: var(--basic-active-yellow);
}

/* Кнопки иконки социальных сетей */
.btn-social {
  background-color: var(--basic-icons-gray);
  border-radius: 50%;
  width: 81px;
  height: 81px;
  position: relative;
}
.btn-social:hover {
  background: linear-gradient(0deg, #E74246, #E74246), #FFFFFF;
}
.btn-social:active {
  background: linear-gradient(0deg, #D7373B, #D7373B), #FFFFFF;
}

.btn-social img{
  position: absolute;
  left: 30px;
  top: 33px;
}


.btn-social:last-child{
  margin-right: 0px;
  margin-left: 1px;
}

.icon-active:active{
 opacity: 0.3;
}

/* Кнопка модальное окно Напишите Нам */
.btn-write {
  background-color: var(--basic-red);
  width: 219px;
  height: 50px;
  display: block;
  border-radius: 3px;
  margin: 0px auto;
}
.btn-write:hover {
  background-color: var(--basic-hover-red);
}
.btn-write:active {
  background-color: var(--basic-active-red);
}

/* Кнопка на макете цена */
.btn-maket{
  padding: 16px 73.5px;
  border-radius: 3px;
 }

.btn-maket:hover {
  background-color: var(--basic-hover-red);
}
.btn-maket:active {
  background-color: var(--basic-active-red);
}

/* Кнопки пагинации */
 .btn-pagination {
  display: inline-block;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  background-color: var(--basic-gray);
  border-radius: 3px;
  margin: 10px 10px;
  box-sizing: border-box;
  background: var(--basic-br-gray);
  border: 3px solid var(--basic-br-gray);
}

.btn-pagination:hover {
  background: var(--basic-white);
  border: 3px solid var(--basic-br-gray);
  box-sizing: border-box;
  cursor: pointer;
}

.btn-pagination:active {
  background: var(--basic-active-gray);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.btn-pagination-next {
  width: 260px;
  height: 50px;
  display: inline-block;
  text-align: center;
  line-height: 50px;
  background-color: var(--basic-gray);
  border-radius: 3px;
  margin: 10px 10px;
  box-sizing: border-box;
  background: var(--basic-br-gray);
}

/* Кнопка показать каталог */
.btn-show {
  background-color: var(--basic-gray);
  width: 260px;
  height: 50px;
  line-height: 50px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  border: none;
}

.btn-show:hover {
  cursor: pointer;
  background-color: var(--basic-hover-gray);
}

.btn-show:active {
  background-color: var(--basic-active-gray);
  opacity: 0.3;

}



/* Section services */
.services {
  padding: 0px;
}
.services-list {
  /* display: grid;
  grid-template-columns: min-content min-content min-content; */
  list-style-type: none;
  padding: 0;
  margin-bottom: 80px;
  margin-top: 77px;
  display: flex;
}
.services-item {
  margin-right: 100px;
}
.services-item h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  margin: 32px 0;
  margin-top: 19px;
  margin-bottom: 14px;
}
.services-item p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 27px;
}

/* Section features */

.features {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}
.features h2 {
  font-weight: 700;
  font-size: 43px;
  line-height: 45px;
  margin: 76px 0px 0px 0px;
}
.features h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  margin: 37px 0px 0px 0px;
}
.features p {
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
  margin: 32px 0px 0px 0px;
}
.features-list {
  list-style-type: none;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 121px;
  padding-left: 38px;
  margin: 22px 0px 0px 0px;
}
.features-item{
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  position: relative;
  letter-spacing: 0.5px;
}

.features-item::before{
  content: "";
  position: absolute;
  width: 25px;
  height: 2px;
  top: 11px;
  left: -38px;
  background-color: var(--basic-red);
  margin-right: 15px;
  transform: rotate(180deg);
}

/* Section advantage */
.advantages {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.advantages h3 {
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  text-transform: uppercase;
  margin: -7px 0px 0px 0px;
}
.advantages-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style-type: none;
  width: 100%;
  font-weight: 700;
  font-size: 45px;
  line-height: 64px;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr; */
}

.advantages-item {
  margin-right: 20px;
}

.advantages-item:nth-child(3) {
  margin-right: 20px;
}

.advantages-item p:first-of-type {
  font-weight: 700;
  font-size: 45px;
  line-height: 64px;
}

.advantages-item sup{
  font-weight: 700;
  font-size: 26px;
  line-height: 40px;
  top: -0.7em;
}

.advantages-item p {
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  margin: 0;
  color: var(--basic-text-gray);
}

.link-logo-adavantages {
  margin-top: 34px;

}

.advantages-item p:nth-child(2) {
  margin-top: 8px;
}

.wrapper-features-advantages {
  /* display: grid;
  grid-template-columns: 60% 40%; */
  display: flex;
  min-height: 454px;
  justify-content: space-between;
}



/* Section partnership */
.partnership {
}
.partnership-list {
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr; */
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-around;
  list-style-type: none;
  padding: 0;
  margin: 73px auto;
}

.partnership-list::before{
  content:"";
  min-width: 100%;
  height: 2px;
  background-color: var(--basic-gray);
  /* border-top: 2px solid var(--basic-gray); */
}

.partnership-list::after{
  content:"";
  min-width: 100%;
  height: 2px;
  background-color: var(--basic-gray);
  margin-top: -41px;
}

.partnership-item {
  margin: 62px auto;
  position: relative;
  min-width: 189px;
}
.partnership-item img{
  opacity: 0.2;
}

.partnership-item::after{
  content: "";
  position: absolute;
  width: 2px;
  height: 52px;
  background-color:var(--basic-gray);
  opacity: 1;
  right: -42px;
}

.partnership-item:nth-child(4n+4)::after{
  display: none;
}


.partnership-item:hover img{
  opacity: 1;
}

.partnership-item img:active {
  opacity: 0.1;
}

/* Footer */

.main-footer {
}

.main-footer p:first-child {
  margin-top: 30px;
}

.footer-social {
  display: flex;
  justify-content: space-between;
  min-width: 23%;
}

.footer-social h2 {

}

.map-wrapper{
  position: relative;
}

.map-wrapper{
  display: flex;
  justify-content: center;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
}

.map-wrapper img {
  min-width: 1440px;
  position: relative;

}

.text-footer {
  display: flex;
  flex-direction: column;
  min-width: 66%;
}
.text-footer p:nth-child(2){
  letter-spacing: 0.5px;
}


.text-prefer-footer {
  font-size: 35px;
  line-height: 20px;
  margin-bottom: 0;
  font-weight: 700;
}

/* Pop-up */
.popup-contacts-wrapper {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  top: 10px;
  left: -210px;
}
.wrapper-contacts{
  text-align: left;
  line-height: 15px;
  width: 68%;
  min-height: 53%;
}

.wrapper-contacts:first-of-type p{
  margin-top: 23px;
}

.contacts-phone {
  margin-bottom: 0px;
}
.popup-contacts h2 {
  margin-top: 9px;
  font-size: 19px;
  letter-spacing: -1.8px;
  margin-bottom: 33px;
}

.popup-email {
  position: relative;
  display: flex;
  justify-content: center;
 }

 .hidden-popup-email {
   display: none;
 }

 .popup-email-wrapper {
   position: absolute;
   width: 960px;
   height: 590px;
   background-color: var(--basic-white);
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
 }

 .textarea {
  color: var(--textarea);
  padding-left: 16px;
  padding-top: 16px;
  min-width: 740px;
}

.user-icon-name {
  padding: 16px;
}

.email-icon-user {
  padding: 16px;
}

.wrapper-email {
  display: flex;
  justify-content: space-between;
}

.wrapper-email input[type=text], input[type=email]{
   min-width: 324px;
}

.map {
  position: relative;
  margin-top: -32px;
}

.popup-contacts {
  position: absolute;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 319px;
  height: 307px;
  top: 47px;
  left: 220px;
  z-index: 10;
  background-color: var(--basic-white);
}

.heading-email {
  width: 960px;
  padding-left: 100px;
}
.heading-email h2 {
  font-weight: bold;
  font-size: 45px;
  line-height: 53px;
}

.email-form {
  padding-left: 100px;
  padding-right: 100px;
}

 /* Makets */
.maket-popup {
  background-color: var(--basic-gray);
  width: 360px;
  height: 231px;
  text-align: center;
  padding-top: 10px;
  position: absolute;
  top: 337px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  opacity: 0;
}

.maket-popup:hover h2{
  color: var(--basic-red);
  transition: 1s;
}

.maket-popup:active h2{
  color: var(--basic-black);
  opacity: 0.3;
  transition: 0s;
}

.maket-popup h2{
  text-transform: uppercase;
}

.maket-popup h2:hover{
  color: var(--basic-red);
}

.maket-popup h2:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.maket-popup p{
  margin-bottom: 36px;
}

.footer-wrapper {
  /* display: grid;
  grid-template-columns: min-content 1fr;
  column-gap: 140px; */
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  min-height: 216px;
}

.product-maket{
}

.product-maket-list{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 67px 0px;
  padding: 0;
  margin-top: 72px;
}


.product-maket-item{
  list-style-type: none;
  position: relative;
  margin-right: 42px;
}

.product-maket-item:nth-child(even){
  margin-right: 0px;
}



/* .product-maket-item:first-child{
  margin-top: 0px;
} */



.maket-browser::before {
  content: "";
  position: absolute;
  top: -40px;
  left: -1px;

  width: 360px;
  height: 40px;
  background-image: url("../img/content/browserdark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.product-maket-item:hover .maket-browser::before{
  opacity: 1;
  transition: 1s;
}

.product-maket-item:hover .maket-popup{
  opacity: 1;
  transition: 1s;
}

.wrapper-grid-makets{
  display: grid;
  grid-template-columns: min-content 1fr;
}


/* Filters */

.wrapper-maket-filter {
  min-width: 1160px;
  display: grid;
  grid-template-columns: min-content 1fr;
}
.form-filter {
  margin-top: 55px;
  width: 281px;
}

.filter-sort-active{
opacity: 1;
}

.filter-sort-passive {
  opacity: 0.3 ;
}


.form-filter .filter-min{
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
}

.form-filter .filter-max{
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
}

.filter-cost {
  grid-row: 1/3;
  margin-top: 60px;
  min-width: 400px;
}

.filter-cost h2{
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.filter-maket-list{

}
.filter-maket-item{
  list-style-type: none;
}
.border-none {
  border: none;
}
.filter-sort h2{
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.filter-sort{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 60px;
}

.filter-sort-list{
  display: flex;
  justify-content: flex-end;
  padding: 0;

}

.filter-sort-item{
  list-style-type: none;
  line-height: 18px;
  margin-right: 25px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}
.filter-sort-item:nth-child(3){
  margin-right: 45px;
}

.filter-sort-item:nth-child(4){
  margin-right: 20px;
}

.filter-sort-item:last-child{
  margin-right: 0px;
}


.filter-item {
  margin: 0;
  padding: 0;
  border: none;
}

.range-filter {
  width: 260px;
  margin-top: 49px;
}

.filter-item legend {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 15px;
  padding: 39px 20px 0px 20px;
  background-color: #f1f1f1;
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;
  background-color: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background-color: #00CA74;
}

.toggle {
  position: absolute;
  top: 31px;
  left: 0;
  border: 8px solid var(--basic-white);
  width: 4px;
  height: 4px;
  padding: 0;
  background-color: #ababab;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.toggle-min {
  left: 18px;
}

.toggle-max {
  left: 160px;
}

.price-controls label {
  text-transform: uppercase;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
}

.price-controls input {
  width: 80px;
  height: 32px;
  background-color: var(--basic-gray);
  border: none;
  border-radius: 5px;
  color: #28316;
  text-align: center;
  margin-left: 10px;
  font-family: inherit;
  font-size: inherit;
}

.price-controls {
  display: flex;
  justify-content: space-between;
}

/* Пагинация */

.pagination {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin-bottom: 30px;
}

.btn-pagination:first-child {
  padding-left: 0;
  margin-left: 0;
}

.active-pagination {
  background-color: var(--basic-white);
}

.link-nav-active {
  border-bottom: 2px solid var(--basic-red);
  padding-bottom: 18px;
}

.pagination-item {

}
.pagination-item a{
  padding: 0;
}

.padding-none {
  padding: 0;
}
